<div class="row">
	<div class="span8">
		<h3>Tournament Details</h3>
		<p>
      <b>Name:</b> <%= @tournament.name %>
    </p>

    <p>
      <b>Active:</b> <%= @tournament.active ? "Yes" : "No" %>
    </p>
	</div>
</div>

<div class="form-actions">
  <%= link_to raw("<i class='icon-list'></i> Display All Tournaments"), tournaments_path, :class => 'btn'  %>&nbsp;&nbsp;
  <%= link_to raw("<i class='icon-pencil'></i> Edit Tournament"), edit_tournament_path(@tournament), :class => 'btn' %>&nbsp;&nbsp;
  <%= link_to raw("<i class='icon-remove icon-white'></i> Delete Tournament"), tournament_path(@tournament), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>