<div class="row">
	<h2>Welcome back <%= @student.first_name %></h2>
	<div class="span3">
		<h3>Student Details</h3>
		<%= render :partial => "student_details" %>
	</div>
	<div class="span5">
	  <h3>Tournament Activity</h3>
	  <% if @registrations.empty?%>
	  	<p>
	  		You have no tournament activity
	  	</p>
	  <%else%>
			<%= render :partial => "activities" unless @registrations.empty? %>
		<%end%>
	</div>
	<div class="span4">
		<h3>Current Dojo</h3>
		<% if @dojo == nil %>
			<p>
				You are not currently assigned to a dojo.
			</p>
		<%else%>
			<p>
	     <h4> <%= link_to @dojo.name, dojo_path(@dojo) %> </h4>
	    </p>

	    <p>
	      <b>Address:</b><br>
	      <%= @dojo.street %><br>
	      <%= @dojo.city + ", " + @dojo.state + " " + @dojo.zip %>
	    </p>
	   <%end%>
   </div>
</div>