<% if @section_students.empty? %>
  <p>&nbsp;&nbsp;<em>None at this time</em></p>
  <p>&nbsp;</p>
  
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
  			<th>Rank</th>
  			<th>Age</th>
        <% if @section.tournament.active != true %>
          <th>Final Standing</th>
        <%end%>
  			<th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @section_students.each do |student| %>
        <tr>
          <td><%= link_to student.name, student_path(student) %></td>
          <td><%= rank_name(student.rank)  %></td>
          <td class="centered"><%= student.age %></td>
          <%if @section.tournament.active != true %>
            <%registration = Registration.for_student(student.id).for_section(@section.id).first %>
            <td><%= final_standing_name(registration.final_standing)%></td>
          <%end%>
          <%if can? :update, student %>
            <%if @section.tournament.active%>
              <td><%= link_to raw("<i class='icon-remove'></i>"), registration_path(Registration.for_student(student.id).for_section(@section.id).first), :method => 'delete', :confirm => 'Are you sure?' %>
            <%else%>
              <td><%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_registration_path(Registration.for_student(student.id).for_section(@section.id).first), :class => 'btn btn-mini' %>
            <%end%>
          <%end%>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>